<%= content_for :title do %>My Home Title<% end %>

<div class="hero-unit">
  <h1><%= APP_NAME %></h1>
  <p>
    Lorem ipsum dolor<br/>
    sit amet, consectetur adipisicing elit<br/>
  </p>
  <p>
    <%= link_to "Start Now", "#", class: "btn btn-primary btn-large" %>
  </p>
</div>
