<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New feedback received for <%= APP_NAME %></h1>
    <p>
      From: <%= @email %>
    </p>
    <!--
    <p>
      How I am feeling? <%= @feelings %>
    </p>
    -->
    <p>
      Feedback: <%= @feedback %>
    </p>
  </body>
</html>