<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hello <%= @email %>,
    </p>
    <p>
      We've received your feedback and we will look at it as soon as possible. Thanks!!
    </p>
    <p>
      The <%= APP_NAME %> Team
    </p>
  </body>
</html>